* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: #000;
    font-size: 21px;
}

body {
    font-family: 'IBM Plex Mono', monospace;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* Space Utility */
.mt-1 {
    margin-top: 1em !important;
}

.mb-1 {
    margin-bottom: 1em;
}

.mb-2 {
    margin-bottom: 2em;
}

/* Text Utility */

.title-lg {
    font-size: 45px;
}

.title {
    font-size: 24px;
}

.fw-bold {
    font-weight: bold;
}

/* Navbar */
.navbar {
    width: 100%;
    height: 45px;
    background-color: rgb(31, 31, 31);
    display: flex;
    align-items: center;
    padding: 1rem;
}

.navbar * {
    color: #fff;
}

.nav-brand {
    font-weight: bold;
    padding: .25rem;
    font-size: 21px;
    /* border: 1px solid #fff; */
    /* text-shadow: 0 0 10px #fff; */
}

.nav-menu {
    display: flex;
    margin-left: auto;
}

.nav-item {
    margin: 0 .75rem;
}

#footer {
    background-color: #000;
    padding: 1rem 0;
    color: #fff;
    text-align: center;
}

/* Container */
.container {
    width: 90%;
    margin: auto;
}

/* Icons Wrapper */
.icon-wrapper {
    display: flex;
    align-items: center;
}

@media screen and (min-width: 800px) {
    .box-wrapper {
        width: 800px;
    }
}

@media screen and (max-width: 680px) {
    .icon-wrapper {
        /* flex-direction: column; */
    }
    .icon-wrapper img {
        width: 100% !important;
    }
}